
<h2><%= @videogame.title %></h2>
<ul>
  <p><strong>Studio(s): </strong><%= @videogame.studio %></p>
  <p><strong>Platform: </strong><%= @videogame.platform %></p>
  <p><strong>Average Hours to Completion: </strong><%= @videogame.avg_hours %></p>
  <p><strong>Metacritic Score: </strong><%= @videogame.metacritic_score %></p>
</ul>
